{% extends "Base.twig" %}

{% block title %}Авторизация{% endblock %}
{% block head %}
    {{ parent() }}
    <script src="/js/jquery.inputmask.bundle.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="{{ showRow }}">
        <div class="{{ showColSm6 }}">
            <section id="loginForm">
                <div class="card card-body my-2 shadow">
                    <h4 class="pb-4 pt-2 {{ hLg }} border-bottom text-center">Авторизация</h4>

                    <form action="/auth/login" class="form-horizontal" method="post" role="form">
                        <div class="validation-summary-valid {{ smallLg }} text-danger" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="row my-3">
                            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">
                                <div class="input-group">
                                    <input id="phone-number" name="phone-number" type="text" value="{{ phone }}"
                                           class="form-control {{ controlLg }} text-center shadow"
                                           placeholder="&#xf095;  Ваш телефон"
                                           data-val="true"
                                           data-val-required="Требуется заполнить поле 'Ваш телефон'."/>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">
                                <div class="input-group">
                                    <input id="password" name="password" type="password"
                                           class="form-control {{ controlLg }} text-center shadow"
                                           placeholder="&#xf023;  Пароль"
                                           data-val="true" data-val-required="Требуется заполнить поле 'Пароль'." value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">
                                <div class="custom-control align-self-center">
                                    <input id="remember-me" class="{{ b_xl_chbx }}"
                                           data-val="true"
                                           name="remember-me" type="checkbox" {{ rememberMe }}/>
                                    <label class="{{ lbLg_pl4_pl2 }} align-middle" for="remember-me"
                                           style="{{ lbHeight }}">
                                        Запомнить меня
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12">
                                <button type="submit"
                                        class="btn btn-pink btn-brand {{ lbLg }} w-100 font-weight-bold shadow">
                                    Войти
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </section>
        </div>
        <div class="{{ showColSm6 }} my-3">
            <h5 class="text-center  {{ lbLg }} mt-4 px-5">Если забыли пароль, то его можно восстановить</h5>
            <div class="text-center mb-5">
                <a class="btn btn-light  {{ lbLg }} btn-brand shadow font-weight-bold" href="/auth/forgotPassword">
                    Забыли пароль?
                </a>
            </div>

            <h5 class="text-center  {{ lbLg }} mt-5 px-5">Если у Вас нет аккаунта, то Вы можете зарегистрироваться</h5>
            <div class="text-center mb-4">
                <a class="btn btn-light btn-brand  {{ lbLg }} shadow font-weight-bold" href="/auth/register">
                    Зарегистрироваться
                </a>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block javascript %}
    $(document).ready(function () {
        $("#phone-number").inputmask("+7 (999) 999-99-99", {clearIncomplete: true, showMaskOnHover: true});
        $("#phone-number").focus();
    });
{% endblock %}
