{% extends "Base.twig" %}

{% block title %}Регистрация{% endblock %}
{% block head %}
    {{ parent() }}
    <script src="/js/jquery.inputmask.bundle.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="{{ showRow }}">
        <div class="{{ showColSm6 }}">
            <div class="card card-body my-2 shadow-sm min-w-350">
                <h4 class="pb-4 pt-2 border-bottom {{ lbLg }} text-center">Регистрация нового пользователя</h4>
                <form action="/auth/registration" class="form-horizontal" method="post" role="form">
                    <div class="validation-summary-valid {{ smallLg }} text-danger" data-valmsg-summary="true">
                        <ul>
                            <li style="display:none"></li>
                        </ul>
                    </div>
                    <div class="row my-3">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                            <div class="input-group">
                                <input id="user-name" name="user-name"
                                       class="form-control {{ controlLg }} shadow" data-val="true"
                                       data-val-required="Требуется заполнить поле 'Имя'" placeholder="&#xf2bd;  Имя"
                                       type="text" value="{{ login }}">
                            </div>
                            <span class="field-validation-valid {{ smallLg }} text-danger" data-valmsg-for="user-name"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                            <div class="input-group">
                                <input id="phone-number" name="phone-number"
                                       class="form-control {{ controlLg }} shadow" data-val="true"
                                       data-val-required="Требуется заполнить поле 'Ваш телефон'"
                                       placeholder="&#xf095;   Ваш телефон" type="tel" value="{{ phone }}">
                            </div>
                            <span class="field-validation-valid {{ smallLg }} text-danger" data-valmsg-for="phone-number"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                            <div class="input-group">
                                <input id="email" name="email"
                                       class="form-control {{ controlLg }} shadow" data-val="true"
                                       data-val-required="Требуется заполнить поле 'E-mail'"
                                       data-val-email="Поле 'E-mail' заполнено некорректно"
                                       placeholder="&#xf2c2;  Ваш e-mail" type="text" value="{{ email }}">
                            </div>
                            <span class="field-validation-valid {{ smallLg }} text-danger" data-valmsg-for="email"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                            <div class="input-group">
                                <input id="password" name="password"
                                       class="form-control {{ controlLg }} shadow" data-val="true"
                                       data-val-length="Значение поля 'Пароль' должно содержать не менее 7 символов."
                                       data-val-length-max="100" data-val-length-min="7"
                                       data-val-required="Требуется заполнить поле 'Пароль'"
                                       placeholder="&#xf023;    Пароль" type="password" value=""
                                       aria-describedby="Password-error" aria-invalid="true">
                            </div>
                            <span class="field-validation-valid {{ smallLg }} text-danger" data-valmsg-for="password"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                            <div class="input-group">
                                <input id="confirm-password" name="confirm-password"
                                       class="form-control {{ controlLg }} shadow" data-val="true"
                                       data-val-required="Требуется заполнить поле 'Подтверждение пароля'"
                                       data-val-equalto="Пароль и его подтверждение не совпадают."
                                       data-val-equalto-other="*.password"
                                       placeholder="&#xf023;    Подтверждение пароля" type="password" value="">
                            </div>
                            <span class="field-validation-valid {{ smallLg }} text-danger" data-valmsg-for="confirm-password"
                                  data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                            <div class="input-group">
                                <select id="user-type" name="user-type"
                                        class="form-control {{ controlLg }} shadow">
                                    <option value="client">Я клиент</option>
                                    <option value="master" selected>Я мастер</option>
                                    <option value="salon">Я салон</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="pt-3 mx-auto text-center">
                            <input id="submit-btn" type="submit"
                                   class="btn btn-pink btn-brand {{ lbLg }} min-w-300 shadow"
                                   value="Регистрация"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="{{ showColSm6 }} my-3">
            <h5 class="text-center {{ lbLg }} mt-4 px-5">Если забыли пароль, то его можно восстановить</h5>
            <div class="text-center mb-5">
                <a class="btn btn-light shadow font-weight-bold btn-brand {{ lbLg }}" href="/auth/forgotPassword">
                    Забыли пароль?
                </a>
            </div>
        </div>
    </div>
    <br>
{% endblock %}

{% block javascript %}
$(document).ready(function () {
    $("#phone-number").inputmask("+7 (999) 999-99-99", {clearIncomplete: true, showMaskOnHover: true});

    // Смена роли
    $("#user-type").change(function () {
        if ($(this).val() === "client") {
            $("#submit-btn").val("Регистрация");
            return;
        }
        $("#submit-btn").val("Подать заявку");
    });
});

{% endblock %}