{% extends "lk/BaseControls.twig" %}

{% block title %}{{ parent() }} - редактирование профиля
    {% if byAdmin == true %}
        пользователя '{{ uLogin }}'
    {% endif %}
{% endblock %}
{% block head %}
    {{ parent() }}
    {{ block('javascriptFieldValidation') }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block contentLk %}
    {% if byAdmin == true %}
        {{ block('profileAdminMenu') }}
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-bt-menu">
            <ul class="navbar-nav">
                <li class="nav-item pr-2">
                    <button class="btn btn-info {{ smallLg }}"
                            id="menu-button-view-profile" type="button">
                        Просмотр
                    </button>
                </li>
            </ul>
        </nav>
        <br>
    {% endif %}

    <form action="{% if byAdmin == true %}/lk/saveProfileByAdmin?userId={{ uId }}&userType={{ uType }}{% else %}/lk/saveProfile{% endif %}"
          class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
        <div class="w-100">
            {{ block('fioProfile') }}

            {{ block('phoneProfile') }}

            {{ block('photoProfile') }}

            {{ block('addressProfile') }}

            {{ block('about') }}

            {{ block('smsConfirm') }}
        </div>

        {{ block('saveProfileBtn') }}
    </form>
{% endblock %}


{% block javascriptTwigComponents %}
    {{ block('javascriptPhotoProfile') }}
    {{ block('javascriptAddressProfile') }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}