{% extends "lk/BaseLk.twig" %}

{% block title %}{{ parent() }} - пополнить баланс
    {% if isTest == 1 %}
        (тестовый режим)
    {% endif %}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block contentLk %}
    <div class="justify-content-center {{ smallLg }} w-100 pl-3">
        Ваш баланс: <b>{{ balance }}</b> руб.
        <br><br>
        Пополнить  баланс
        <br>
        <script type="text/javascript"
                src="{{ roboUrl }}?MerchantLogin={{ roboLogin }}&DefaultSum={{ defaultSum }}&InvoiceID={{ invoiceId }}&Description={{ desc }}&Culture=ru&IsTest={{ isTest }}&Encoding=utf-8&SignatureValue={{ signatureValue }}">
        </script>
    </div>
{% endblock %}


{% block javascript %}
{{ parent() }}
{% endblock %}
