{% extends "Base.twig" %}

{% block title %}FAQ{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex">
            <div class="card card-body my-1 shadow-sm">
                <h4 class="pb-4 border-bottom text-center">Часто задаваемые вопросы</h4>
                <div class="topic-text ue-content">
                    <div><p>Мы подготовили для вас небольшой ролик о том,&nbsp;как устроен {{ siteName }}.
                            Во время просмотра рекомендуем развернуть видео на полный экран.</p>
                        <p></p>
                        <figure>
                            <iframe allowfullscreen="" frameborder="0" height="390" src="{{ youAboutCompanyUrl }}"
                                    width="680"></iframe>
                        </figure>
                        <p></p>
                        <p></p>
                        <p>Если вы еще не стали мастером,&nbsp;<a href="#">посмотрите, как это сделать</a>.&nbsp;
                        </p>
                        <p></p>
                        <p>Всем, кому уже пришли email- и СМС-уведомление о получении статуса&nbsp;мастера, мы
                            рекомендуем ознакомиться с нашими рекомендациями.<br></p>
                        <hr>
                        <h4>1. Правила сервиса</h4>
                        <p>Обязательно прочитайте,&nbsp;<a href="" target="_blank">за что можно лишиться статуса
                                исполнителя</a>.</p>
                        <hr>
                        <h4>2. Оформление профиля</h4>
                        <ul>
                            <li><strong>Расскажите о себе: </strong>сколько вам лет, где учились, работали. Укажите все
                                преимущества, которые получит заказчик, если выберет вас исполнителем своего задания.
                            </li>
                            <li><strong>Отметьте категории заданий</strong>, в которых готовы работать.</li>
                            <li><strong>Перечислите услуги,</strong> которые вы оказываете, и их стоимость.</li>
                            <li><strong>Загрузите примеры работ.</strong>&nbsp;Мы рекомендуем это делать всем
                                исполнителям.
                            </li>
                        </ul>
                        <p></p>
                        <p><a href="" target="_blank">Примеры профилей&nbsp;успешных исполнителей</a></p>
                        <p><a href="" target="_blank">Больше рекомендаций по оформлению профиля</a></p>
                        <hr>
                        <h4>3. Пополнение счета и оплата предложений</h4>
                        <p><a href=""></a><br></p>
                        <div>Исполнители {{ siteName }} платят за возможность откликаться на задания. После публикации
                            предложения заказчик сразу же получает сообщение и номер телефона исполнителя.&nbsp;
                        </div>
                        <div><br></div>
                        <div>Чтобы откликнуться на задание, нужно внимательно прочитать описание и нажать кнопку
                            «Принять предложение». Оплатить предложение можно двумя способами:
                        </div>
                        <div><strong><br></strong></div>
                        <div><strong><br></strong></div>
                        <div><strong>Способ 1. Пакет безлимитных предложений</strong></div>
                        <div>Вы можете <a href="" style="background-color: rgb(245, 245, 245);">приобрести пакет
                                безлимитных предложений</a> в интересующей категории или подкатегории и оставлять
                            неограниченное количество предложений к заданиям.&nbsp;<br></div>
                        <div><br></div>
                        <ul>
                            <li>Подходит активным исполнителям, которые собираются постоянно выполнять задания и хотят
                                увеличить свой доход.
                            </li>
                        </ul>
                        <p></p>
                        <div><a href="">Подробнее о безлимитных пакетах</a></div>
                        <div><a href="">Отзывы исполнителей о безлимитных пакетах</a></div>
                        <p></p>
                        <div><strong>Способ 2. Разовые предложения</strong></div>
                        <p>Если вы не хотите приобретать безлимитный пакет предложений, вы можете откликаться на задания
                            и оставлять оплату за каждое предложение (от 20 рублей в зависимости от категории задания).&nbsp;</p>
                        <p></p>
                        <ul>
                            <li>Подходит исполнителям, которые воспринимают сервис как подработку или берут заказы
                                нерегулярно.
                            </li>
                        </ul>
                        <p></p>
                        <p>Все новые исполнители получают <strong><a href="" target="_blank">24 часа бесплатного
                                    доступа</a></strong> к любым интересным&nbsp;заказам. Он помогает разобраться, как
                            устроен сервис, и заработать первые деньги.<br></p>
                        <p>
                            <br>
                        </p>
                        <p><a href="" target="_blank"></a><a href="" target="_blank">Как пополнить счет</a></p>
                        <p><a href="" target="_blank">Подробнее о платных предложениях</a><br></p>
                        <hr>
                        <h4>4. Подписка на задания</h4>
                        <p>Вы можете <a href="" target="_blank">подписаться на задания</a>&nbsp;в интересной для вас
                            категории или районе. Уведомления о новых заданиях будут приходить на электронную почту и в
                            виде оповещений в мобильном приложении {{ siteName }}. </p>
                        <p></p>
                        <p>Мы рекомендуем установить и использовать наши <strong>мобильные приложения</strong> (<a
                                    href="https://itunes.apple.com/ru/app/"
                                    target="_blank">IOS</a> или <a
                                    href="https://play.google.com/store/apps/"
                                    target="_blank">Android</a>), чтобы максимально быстро реагировать на новые задания
                            и отвечать на вопросы заказчиков.</p>
                        <p></p>
                        <p>В&nbsp;<a href="" target="_blank">списке заданий</a> вы можете
                            находить интересные для вас заказы по ключевому слову или использовать фильтры.</p>
                        <p></p>
                        <h4>5. Предложения</h4>
                        <p>Чтобы вас чаще выбирали исполнителем, старайтесь как можно быстрее оставлять предложения к
                            новым заданиям и подробно описывать свои услуги и преимущества.<br></p>
                        <p></p>
                        <p>Если цена, указанная заказчиком, кажется вам неподходящей, предложите <strong>встречную
                                стоимость</strong>. Многие заказчики охотно соглашаются на условия исполнителей.<br></p>
                        <p></p>
                        <p><a href="" target="_blank">Как создать привлекательное предложение к заданию</a></p>
                        <hr>
                        <h4>6. Общение с клиентом</h4>
                        <p>После того как вы оставите предложение к заказу, заказчик сможет <strong>позвонить</strong>
                            вам или задать вопрос <strong>в личном чате</strong>.&nbsp;Обсудите детали сотрудничества.
                            Договоритесь об удобном способе оплаты.<br></p>
                        <p></p>
                        <p>Попросите клиента выбрать вас исполнителем на сервисе. После того как он это сделает, вы
                            получите <strong>СМС с именем и телефоном клиента</strong>. Позвоните ему, поблагодарите
                            за оказанное доверие и после обсуждения всех деталей приступайте к работе.</p>
                        <hr>
                        <h4>7. Отзыв</h4>
                        <p>Отзывы помогают нам формировать сообщество надежных исполнителей и заказчиков {{ siteName }}. После
                            выполнения задания обязательно укажите на сервисе, что работа завершена, и оставьте отзыв о
                            заказчике. Не забудьте напомнить ему, чтобы он оставил отзыв о вас. Чем больше положительных
                            отзывов в вашем профиле, тем чаще вас будут выбирать исполнителем.&nbsp;</p>
                        <hr>
                        <h4>8. Блокировка</h4>
                        <p>Прочитайте, <a href="" style="background-color: rgb(245, 245, 245);" target="_blank">за что
                                можно лишиться статуса исполнителя</a>.&nbsp;Соблюдайте правила сервиса и качественно
                            оказывайте услуги —&nbsp;и у вас все получится!</p>
                        <p><br><br><strong>Итак, основные правила: <br></strong>1. Заполните свой профиль. <br>2.
                            Оставляйте привлекательные предложения к новым заказам. Указывайте встречную стоимость,
                            если вы не согласны с бюджетом клиента. <br>3. Чем выше ваш рейтинг, тем чаще вас будут
                            выбирать исполнителем. <br></p>
                        <p>4. Будьте вежливыми и тактичными с клиентами. </p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}