{% extends "lk/BaseControls.twig" %}

{% block title %}{{ parent() }} - добавить школу{% endblock %}
{% block head %}
    {{ parent() }}
    {{ block('javascriptTimePicker') }}
    <script type="text/javascript" src="/js/jquery.multi-select.min.js"></script>
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block contentLk %}
    <form id="school-form" action="/lk/createSchool" method="post" role="form">
        <div class="w-100 min-w-400 pb-3">
            <select id="school-profession" name="school-profession"
                    class="form-control {{ controlLg }} mb-1 shadow"
                    data-val="true" data-val-required="Требуется выбрать направление.">
                <option value="">-- Выберите область деятельности --</option>
                {% for direction in directions %}
                    {% if direction.id == vacancyProfession %}
                        <option value="{{ direction.id }}" selected>{{ direction.name }}</option>
                    {% else %}
                        <option value="{{ direction.id }}">{{ direction.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <span class="field-validation-valid {{ smallLg }} text-danger"
                  data-valmsg-for="school-profession"
                  data-valmsg-replace="true"></span>
            <span class="small {{ smallLg }}">
                Если Вы не нашли нужное направление - <a href="/main/feedBack">напишите нам</a> и мы ее добавим!
            </span>
        </div>

        {{ block('photoProfile') }}

        {{ block('addressProfile') }}


        <div class="w-100 min-w-400 pb-3">
            <select id="school-weekday" name="school-weekday[]" multiple="multiple"
                    data-val="true" data-val-required="Требуется выбрать дни недели."
                    class="form-control {{ controlLg }} mb-1 shadow">
                {% for weekday in weekdays %}
                    <option value="{{ weekday.id }}" {{ weekday.selected }}>{{ weekday.name }}</option>
                {% endfor %}
            </select>
            <span id="school-weekday-danger"
                  class="field-validation-error {{ smallLg }} text-danger"
                  data-valmsg-for="school-weekday"></span>
        </div>

        <div class="pl-2 w-100 min-w-400 pb-0 pr-0">
            {{ block('timePicker') }}
        </div>

        <div class="w-100 min-w-400 pb-3">
         <textarea id="school-about" name="school-about"
                   data-rule-maxlength="2000"
                   data-val="true" data-val-required="Требуется описание."
                   maxlength="2000" rows="8" placeholder="Описание"
                   class="form-control {{ controlLg }} shadow">{{ about }}</textarea>
            <span class="small {{ smallLg }}">Длина поля ограничена - не более 2000 символов</span>
            <br><span class="field-validation-valid {{ smallLg }} text-danger"
                      data-valmsg-for="school-about"
                      data-valmsg-replace="true"></span>
        </div>

        <div class="w-100 mx-auto text-center pb-3">
            <input id="create-school" class="btn btn-brand btn-pink {{ lbLg }} min-w-400 shadow"
                   type="submit" value="Добавить школу">
        </div>
    </form>
{% endblock %}


{% block javascriptTwigComponents %}
    {{ block('javascriptFieldValidation') }}
{% endblock %}

{% block javascript %}
$('#vacancy-weekday').multiSelect({
    'containerHTML': '<div id="multi-select-container-schedule-weekday" class="multi-select-container {{ lbLg }}">',
    noneText: 'График работы - дни недели и часы',
    presets: [
                {
                    name: 'Без выходных',
                    options: ['1', '2', '3', '4', '5', '6', '7']
                },
                {
                    name: 'Будни (5/2)',
                    options: ['1', '2', '3', '4', '5']
                },
                {
                    name: 'Будни и суббота (6/1)',
                    options: ['1', '2', '3', '4', '5', '6']
                },
                {
                    name: 'В выходные',
                    options: ['6', '7']
                },
                {
                    name: 'Отменить выбор',
                    options: []
                }
    ]
});

$('#create-vacancy').click(function () {
    if ($('#vacancy-weekday').val() === null) {
        $('#vacancy-weekday-danger').html('Заполните график работы.');
    } else {
        $('#vacancy-weekday-danger').html('');
    }
});
$('#vacancy-form').submit(function () {
    if ($('#vacancy-weekday').val() === null) {
        $('#vacancy-weekday-danger').html('Заполните график работы.');
        return false;
    } else {
        $('#vacancy-weekday-danger').html('');
    }
});
{{ parent() }}
{% endblock %}