{% extends "lk/BaseLk.twig" %}

{% block title %}{{ parent() }} - мои отзывы{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block navbar %}
    {{ parent() }}
{% endblock %}

{% block contentLk %}
    <div class="justify-content-center w-100">
        {{ block('reviewsList') }}
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}